body {
    font-family: Georgia;
    background-color: #BECCBA;
}

h1, h2, h3, h4, h5, a, button {
    font-family: Georgia;
}

.nav .title {
    font-family: Georgia;
    font-size: 40px;
}


.button {
    background-color: #BECCBA;
    border-radius: 75%;
}

.button:hover {
    background-color: #2C2C2C;
}

a:hover {
    border-bottom: none;
    color: #2C2C2C;
}

.nav {
    overflow: hidden;
}

.title {
    float:left;
}

.top-menu {
    float:right;
    font-size: 30px;
}

.top-menu li {
    display: inline;
    color: #678070;
    font-size: 30px;
}

li {
    list-style: none;
    padding-left: -10px;
}

.menu {
    padding-top: 10px;
}