body {
    font-family: Georgia;
    background-color: #BECCBA;
    max-width:none;
}

h1, h2, h3, h4, h5, a, button {
    font-family: Georgia;
    color: darkslategray;
}

a:hover {
    border-bottom: none;
    color: #678070;
}