{% extends "base.html" %}

{% block content %}
<div class="box about-box">
    <h1>I'm Chris Baca.</h1>
    <h3>I'm into, in no particular order:</h3>
    <ul>
        <li>Reading (especially sci-fi and fantasy)</li>
        <li>Programming (at work and for fun)</li>
        <li>Philosophy (the late moderns are my jam)</li>
        <li>Running & General Fitness (I lift now I guess?)</li>
        <li>An Open Internet (and, as a subpoint, blogging)</li>
        <li>Learning New Stuff (I'm obsessive)</li>
        <li>Music (hip-hop, newgrass, pop, etc., etc.)</li>
        <li>Coffee (I roast my own, and make a mean cortado)</li>
    </ul>
    <p>If you're here for where to find me elsewhere, <a href="https://cdbaca.github.io/ssg/it-s-hard-but-easy-to-write-when-no-one-s-watching.html"> the goal is that you can't.</a> 
        I'm trying to leave social media entirely. For my mediocre/hobbyist developer stuff, <a href="https://github.com/cdbaca">you can find me on GitHub.</a>
    <br><br>
        My goal with this site is to have a hub for myself to think and grow and learn. Aside from being a good dad and
        husband first, that's the core of who I want to be: someone who learns, someone who is curious, someone who is filled
        with wonder about the world and the people around me.
    <br><br>
        So this site is going to be filled (hopefully) with lots of weird, mundane, disconnected things. I'll go off on
        bunny trails. I'll explore something obsessively for a while and then abandon it when I am satisfied. This is really
        for no one else but myself. If others like it, that's fine. But I spent so much of my time before making things with
        a thought about what others would think -- worried that I was too heretical, too boring, too traditional or progressive.
        Maybe I am all or none of those things. But this site is just a poor digital reflection of me. Nothing more.
    </p>
</div>
{% endblock %}