{% extends "base.html" %}
{% block content %}
<h1>I'm Chris Baca. I run, I write, I think, I play video games, I'm a dad and a husband, I like computer stuff.</h1>
<p>The truth is, I'm a lot of things. This is just a little blog space that I'm cultivating in the midst of
an internet that is crazy and algorithm-y and not very human anymore. I'm under no delusion that I can change that.
But I'm gonna keep doing this weird thing anyway.</p>
<br> <br>
<p>If you want to read some stuff by me, see below. If you want to see posts by tag, <a href="tags.html">click here.</a></p>

<h3>Posts:</h3>

<ul class="posts">
    {% for post in data %}
    <li><a href="{{ post.slug }}.html">{{ post.title }}</a> | {{ post.date}} </li>
    {% endfor %}
</ul>
{% endblock %}