{% extends "base.html" %}
{% block content %}
<div class="box posts-box">
    <h1>All Posts</h1>
    {% for group in data %}
    <div class="year-group">
        <h2 class="year-heading">{{ group.year }}</h2>
        <ul>
            {% for post in group.posts %}
            <li>
                <a href="{{ post.slug }}.html">{{ post.title }}</a>
                <span class="post-date">{{ post.date }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}
