{% extends "base.html" %}
{% block css %}<link rel="stylesheet" href="../static/styles.css" type="text/css"> {% endblock %}
{% block nav %}
<div class="box header">
    <div class="logo">
            <h1><a href="../index.html">Roots to Branches</a></h1>
    </div>
    <div class="buttons">
        <form style="display: inline" action="../about.html" method="get"><button>About</button></form>
        <form style="display: inline" action="../posts.html" method="get"><button>Posts</button></form>
        <form style="display: inline" action="../photos.html" method="get"><button>Photos</button></form>
        <form style="display: inline" action="../tags.html" method="get"><button>Tags</button></form>
        <form style="display: inline" action="../lift.html" method="get"><button>Lift</button></form>
        <form style="display: inline" action="../feed.xml" method="get"><button>RSS Feed</button></form>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="box tag-box">
    {% for post_list in data %}
        <ul>
            <li><a href="../{{post_list[1]}}.html">{{post_list[0]}}</a> | {{post_list[2]}}</li>
        </ul>
    {% endfor %}
</div>
{% endblock %}