{% extends "base.html" %}
{% block css %}<link rel="stylesheet" href="../static/styles.css" type="text/css"> {% endblock %}
{% block nav %}
    <div class="box header">
        <div class="logo">
            <h1><a href="./index.html">Roots to Branches</a></h1>
        </div>
        <div class="buttons">
                <a href="./about.html"><button>About</button></a>
                <a href="./tags.html"><button>Tags</button></a>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="tag-box">
    {% for post_list in data %}
        <ul>
            <li><a href="../{{post_list[1]}}.html">{{post_list[0]}}</a> | {{post_list[2]}}</li>
        </ul>
    {% endfor %}
</div>
{% endblock %}