{% extends "base.html" %}
{% block css %}<link rel="stylesheet" href="../static/styles.css" type="text/css"> {% endblock %}
{% block nav %}
    <div class="nav">
        <div class="title"><a href="../../index.html">Roots to Branches</a></h2></div>
        <div class="top-menu">
            <ul>
                <li><a href="../about.html"><button class="button">About</button></a></li>
                <li><a href="../tags.html"><button class="button">Tags</button></a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}

{% for post_list in data %}
    <ul>
        <li><a href="../{{post_list[1]}}.html">{{post_list[0]}}</a> | {{post_list[2]}}</li>
    </ul>
{% endfor %}

{% endblock %}